<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art of Freedom</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/js/common.js"></script>
</head>

<body id="gallery">
    <div th:replace="fragments/navMenu :: nav-bar"></div>

<div class="container">
    <div class="form">
        <table>
            <tr th:each="painting: ${paintings}">
                <th><img th:src="@{${'/images/upload/' + painting.paintingImage}}" style="max-width: 200px; max-height: 200px;"></th>
                <th th:text="${painting.paintingName}"></th>
                <th th:text="${painting.artistName}"></th>
                <th th:text="${painting.price}"></th>
            </tr>
        </table>

        <form action="mailto:viktoriia.nikitiuk@gov.ua">
            <select id="paintings" name="paintings">
                <option value="Choose the painting">Choose the painting</option>
            </select>

            <input type="submit">
        </form>
    </div>
</div>

</body>

</html>