<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art of Freedom</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/index.js"></script>
</head>

<body id="index">
<div class="hero">

    <video autoplay loop muted plays-inline id="backVideo">
        <source src="images/Art_Of_Freedom_AdobeExpress.mp4" type="video/mp4">
    </video>
    <div th:replace="fragments/navMenu :: nav-bar"></div>

    <div class="sidebar">
        <h1>Art of Freedom</h1>
        <h3>Washington, USA</h3>
        <p style="font-size:medium">From images of war, national pride, religion, and heritage, this exhibition features dozens of pieces displaying
            traditional and contemporary art forms and celebrates the commitment to freedom of the Ukrainian people. Buy Ukrainian art and don't
            forget donate to Ukrainian Association of Washington State.</p>

        <a href="https://www.schack.org/for-ukraine" target="_blank">More Details</a>

    </div>

    <img src="images/play.png" id="btn">

</div>
</body>
</html>






